In [194]:
import joblib
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import (
    LabelBinarizer, 
    LabelEncoder,
    OneHotEncoder,
    StandardScaler,
)

### Загрузка датасета:

In [195]:
df = pd.read_csv("ТИУ Бакалавриат Абитуриенты.csv")
df = df.drop("Unnamed: 0", axis=1)
df.head(5)

   Год приёмной компании  ... Приказ о зачислении
0                   2019  ...                   0
1                   2019  ...                   0
2                   2019  ...                   0
3                   2019  ...                   0
4                   2019  ...                   0

[5 rows x 9 columns]

### Подготовка и отчистка данных:

In [196]:
df["Вид приема"].value_counts()

Вид приема
Общий конкурс                               83770
По договору                                 65335
В рамках квоты лиц, имеющих особые права     1353
Целевой прием                                 495
Отдельная квота                               120
Без ВИ в рамках КЦП                             6
Name: count, dtype: int64

Удаление абитуриентов которые поступали не в рамках общего конкурса:

In [197]:
df = df[df["Вид приема"] == "Общий конкурс"]
df["Вид приема"].value_counts()

Вид приема
Общий конкурс    83770
Name: count, dtype: int64

In [198]:
df = df.drop("Вид приема", axis=1)
df.head(3)

   Год приёмной компании  ... Приказ о зачислении
3                   2019  ...                   0
4                   2019  ...                   0
7                   2019  ...                   0

[3 rows x 8 columns]

In [199]:
df["Приказ о зачислении"].value_counts()

Приказ о зачислении
0    73298
1    10472
Name: count, dtype: int64

In [200]:
df["Сумма баллов"] += df["Сумма баллов за индивидуальные достижения"]
df = df.drop("Сумма баллов за индивидуальные достижения", axis=1)
df.head(5)

    Год приёмной компании Пол  ...  Сумма баллов  Приказ о зачислении
3                    2019   М  ...         173.0                    0
4                    2019   М  ...         173.0                    0
7                    2019   М  ...         173.0                    0
12                   2019   Ж  ...         161.0                    0
14                   2019   Ж  ...         161.0                    0

[5 rows x 7 columns]

In [201]:
columns = {
    "Год приёмной компании": "year",
    "Пол": "gender",
    "Ср. балл док-та об образовании": "gpa",
    "Приоритет": "priority",
    "Направление подготовки": "direction",
    "Сумма баллов": "points",
    "Приказ о зачислении": "result"
}

df = df.rename(columns=columns)
df.head(3)

   year gender  ...  points  result
3  2019      М  ...   173.0       0
4  2019      М  ...   173.0       0
7  2019      М  ...   173.0       0

[3 rows x 7 columns]

Оставляем только 1 приоритет:

In [202]:
df = df[df["priority"] == 1]
df = df.drop("priority", axis=1)
df["result"].value_counts()

result
0    13595
1     8162
Name: count, dtype: int64

### Кодирование категориальных признаков:

In [203]:
le = LabelEncoder()
le.fit(df["year"])
df["year"] = le.transform(df["year"])
df["year"].value_counts()

year
2    5180
3    4750
1    4570
0    4476
4    2781
Name: count, dtype: int64

Сохраняем 'обученный' label encoder:

In [204]:
joblib.dump(le, "label_encoder.joblib")

['label_encoder.joblib']

In [205]:
lb = LabelBinarizer()
lb.fit(df["gender"])
df["gender"] = lb.transform(df["gender"])
df["gender"].value_counts()

gender
1    14925
0     6832
Name: count, dtype: int64

Сохраняем 'обученный' label binarizer:

In [206]:
joblib.dump(lb, "label_binarizer.joblib")

['label_binarizer.joblib']

In [207]:
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_directions = ohe.fit_transform(df["direction"].to_numpy().reshape(-1, 1))
category_names = ohe.get_feature_names_out()

In [208]:
for i, category_name in enumerate(category_names):
    df[f"direction{category_name[2:]}"] = encoded_directions[:, i]
    
df.drop(columns='direction', inplace=True)

df.head(5)

    year  ...  direction_45.03.04 Интеллектуальные системы в гуманитарной сфере
7      0  ...                                                0.0
17     0  ...                                                0.0
27     0  ...                                                0.0
37     0  ...                                                0.0
42     0  ...                                                0.0

[5 rows x 51 columns]

Загрузка обученного one hot encoder:

In [209]:
joblib.dump(ohe, "one_hot_encoder.joblib")

['one_hot_encoder.joblib']

Вывод количества Nan значений:

In [210]:
df.isna().sum().sum()

294

Заполнение Nan значений медианными значениями:

In [211]:
df.fillna(df.median(), inplace=True)
df.isna().sum().sum()

0

In [212]:
df.head(5)

    year  ...  direction_45.03.04 Интеллектуальные системы в гуманитарной сфере
7      0  ...                                                0.0
17     0  ...                                                0.0
27     0  ...                                                0.0
37     0  ...                                                0.0
42     0  ...                                                0.0

[5 rows x 51 columns]

In [213]:
df.to_csv("ТИУ Бакалавриат Абитуриенты Processed.csv")