In [22]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import (
    LabelBinarizer, 
    LabelEncoder,
    OneHotEncoder,
    StandardScaler,
)

### Загрузка датасета:

In [23]:
df = pd.read_csv("ТИУ Бакалавриат Абитуриенты.csv")
df = df.drop("Unnamed: 0", axis=1)
df.head(5)

   Год приёмной компании  ... Приказ о зачислении
0                   2019  ...                   0
1                   2019  ...                   0
2                   2019  ...                   0
3                   2019  ...                   0
4                   2019  ...                   0

[5 rows x 9 columns]

### Подготовка и отчистка данных:

In [24]:
df["Вид приема"].value_counts()

Вид приема
Общий конкурс                               83770
По договору                                 65335
В рамках квоты лиц, имеющих особые права     1353
Целевой прием                                 495
Отдельная квота                               120
Без ВИ в рамках КЦП                             6
Name: count, dtype: int64

Удаление абитуриентов которые поступали в не рамках общего конкурса:

In [25]:
df = df[df["Вид приема"] == "Общий конкурс"]
df["Вид приема"].value_counts()

Вид приема
Общий конкурс    83770
Name: count, dtype: int64

In [26]:
df = df.drop("Вид приема", axis=1)
df.head(3)

   Год приёмной компании  ... Приказ о зачислении
3                   2019  ...                   0
4                   2019  ...                   0
7                   2019  ...                   0

[3 rows x 8 columns]

In [27]:
df["Приказ о зачислении"].value_counts()

Приказ о зачислении
0    73298
1    10472
Name: count, dtype: int64

In [28]:
df["Сумма баллов"] += df["Сумма баллов за индивидуальные достижения"]
df = df.drop("Сумма баллов за индивидуальные достижения", axis=1)
df.head(5)

    Год приёмной компании Пол  ...  Сумма баллов  Приказ о зачислении
3                    2019   М  ...         173.0                    0
4                    2019   М  ...         173.0                    0
7                    2019   М  ...         173.0                    0
12                   2019   Ж  ...         161.0                    0
14                   2019   Ж  ...         161.0                    0

[5 rows x 7 columns]